################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/btc.usd.core/bin/Debug/net6.0/Microsoft.OpenApi.dll
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.staticwebassets.runtime.json
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.runtimeconfig.json
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.exe
/btc.usd.core/bin/Debug/net6.0/appsettings.json
/btc.usd.core/bin/Debug/net6.0/appsettings.Development.json
/Core.App/obj/Debug/net6.0/refint/Core.App.dll
/Core.App/obj/Debug/net6.0/Core.App.csproj.FileListAbsolute.txt
/Core.App/obj/Debug/net6.0/Core.App.assets.cache
/Core.App/obj/project.nuget.cache
/Core.App/obj/Debug/net6.0/ref/Core.App.dll
/Core.Interfaces/bin/Debug/net6.0/Core.Interfaces.pdb
/Core.Interfaces/bin/Debug/net6.0/Core.Interfaces.dll
/Core.Interfaces/bin/Debug/net6.0/Core.Interfaces.deps.json
/Core.Interfaces/obj/project.nuget.cache
/Core.Interfaces/obj/Debug/net6.0/refint/Core.Interfaces.dll
/Core.Interfaces/obj/Debug/net6.0/Core.Interfaces.csproj.FileListAbsolute.txt
/Core.Interfaces/obj/Debug/net6.0/Core.Interfaces.assets.cache
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.deps.json
/Infastructure.Repositories/obj/Debug/net6.0/refint/Infastructure.Repositories.dll
/Infastructure.Repositories/obj/Debug/net6.0/Infastructure.Repositories.csproj.FileListAbsolute.txt
/Infastructure.Repositories/obj/Debug/net6.0/Infastructure.Repositories.assets.cache
/Infastructure.Data/obj/Debug/net6.0/Infastructure.Data.csproj.FileListAbsolute.txt
/Infastructure.Data/obj/Debug/net6.0/Infastructure.Data.assets.cache
/Core.Mapping/bin/Debug/net6.0/Core.Mapping.pdb
/Core.Mapping/bin/Debug/net6.0/Core.Mapping.dll
/Core.Mapping/bin/Debug/net6.0/Core.Mapping.deps.json
/Core.Mapping/obj/Debug/net6.0/refint/Core.Mapping.dll
/Core.Mapping/obj/Debug/net6.0/ref/Core.Mapping.dll
/Core.Interfaces/obj/Debug/net6.0/ref/Core.Interfaces.dll
/Core.Mapping/obj/Debug/net6.0/Core.Mapping.csproj.FileListAbsolute.txt
/Core.Mapping/obj/Debug/net6.0/Core.Mapping.assets.cache
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net6.0/Domain.assets.cache
/FunctionalTests/obj/project.nuget.cache
/FunctionalTests/obj/Debug/net6.0/FunctionalTests.csproj.FileListAbsolute.txt
/FunctionalTests/obj/Debug/net6.0/FunctionalTests.assets.cache
/Infastructure.Rest/obj/Debug/net6.0/ref/Infastructure.Rest.dll
/Infastructure.Rest/obj/Debug/net6.0/Infastructure.Rest.csproj.FileListAbsolute.txt
/Infastructure.Rest/obj/Debug/net6.0/Infastructure.Rest.assets.cache
/IntegrationTests/obj/project.nuget.cache
/IntegrationTests/obj/Debug/net6.0/IntegrationTests.csproj.FileListAbsolute.txt
/IntegrationTests/obj/Debug/net6.0/IntegrationTests.assets.cache
/btc.usd.core/.vs/btc.usd.core/DesignTimeBuild/.dtbcache.v2
/Core.App/bin/Release/net6.0/Entities/BitStamp/TbBitStamp.cs
/Core.App/bin/Release/net6.0/Domain.pdb
/Core.App/bin/Release/net6.0/Domain.dll
/Core.App/bin/Release/net6.0/Core.Mapping.pdb
/Core.App/bin/Release/net6.0/Core.Mapping.dll
/Core.App/bin/Release/net6.0/Core.Interfaces.pdb
/Core.App/bin/Release/net6.0/Core.Interfaces.dll
/Core.App/bin/Release/net6.0/Core.App.pdb
/Core.App/bin/Release/net6.0/Core.App.dll
/Core.App/bin/Release/net6.0/Core.App.deps.json
/Core.App/obj/Release/net6.0/Core.App.pdb
/Core.App/obj/Release/net6.0/Core.App.GeneratedMSBuildEditorConfig.editorconfig
/Core.App/obj/Release/net6.0/Core.App.dll
/Core.App/obj/Release/net6.0/Core.App.csproj.FileListAbsolute.txt
/Core.App/obj/Release/net6.0/Core.App.csproj.CoreCompileInputs.cache
/Core.App/obj/Release/net6.0/Core.App.csproj.CopyComplete
/Core.App/obj/Release/net6.0/Core.App.csproj.BuildWithSkipAnalyzers
/Core.App/obj/Release/net6.0/Core.App.csproj.AssemblyReference.cache
/Core.App/obj/Release/net6.0/Core.App.assets.cache
/Core.App/obj/Release/net6.0/Core.App.AssemblyInfoInputs.cache
/Core.App/obj/Release/net6.0/Core.App.AssemblyInfo.cs
/Core.App/obj/project.assets.json
/Core.App/obj/Core.App.csproj.nuget.dgspec.json
/Core.Interfaces/bin/Release/net6.0/Core.Interfaces.pdb
/Core.Interfaces/bin/Release/net6.0/Core.Interfaces.dll
/Core.Interfaces/bin/Release/net6.0/Core.Interfaces.deps.json
/Core.Interfaces/obj/Release/net6.0/refint/Core.Interfaces.dll
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.pdb
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.GeneratedMSBuildEditorConfig.editorconfig
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.dll
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.csproj.FileListAbsolute.txt
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.csproj.CoreCompileInputs.cache
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.csproj.BuildWithSkipAnalyzers
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.csproj.AssemblyReference.cache
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.assets.cache
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.AssemblyInfoInputs.cache
/Core.Interfaces/obj/Release/net6.0/Core.Interfaces.AssemblyInfo.cs
