################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/btc.usd.core/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/btc.usd.core/bin/Debug/net6.0/Microsoft.OpenApi.dll
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.staticwebassets.runtime.json
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.runtimeconfig.json
/btc.usd.core/bin/Debug/net6.0/btc.usd.core.exe
/btc.usd.core/bin/Debug/net6.0/appsettings.json
/btc.usd.core/bin/Debug/net6.0/appsettings.Development.json
